body, html{
    width: 100%;
    height: 100%;
}
.col{
    background-color: silver;
}

.links_buttons {
    background-color: gray;
}

.links_buttons div[state = open] div>.col+.col{
	display: none;
}

.links_buttons div[state = close] div>.col+.col{
    display: flex;
    flex-direction: column;
}