body, html{
    width: 100%;
    height: 100%;
}
.container-fluid .col{
    background-color: silver;
} 

.link_button {
    background-color: gray;
}

.link_button div[state = open] div>.col+.col{
	display: none;
}

.link_button div[state = close] div>.col+.col{
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    }

main {
    flex: 1 0 auto;
  }

.nopaddings {
    padding: 0;
  }